
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;1,200&family=Source+Sans+3:wght@300;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: "Source", sans-serif;
  font-family: "Mulish", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background: transparent linear-gradient(180deg, #000000 0%, #000E09 100%)no-repeat fixed;
  
}